<section class="py-3 text-white">
    <div class="container">
        <div class="d-flex flex-column col-12 justify-content-between">
            <h3 class="text-center" i18n>
                MIS
                <span style="color: #08d665;">CONOCIMIENTOS</span>
            </h3>
            <div class="row justify-content-center flex-wrap col-12">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 mx-1 py-2" style="width: 20em;">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="card-title fw-bold" i18n>FRONTEND DEVELOPER</span>
                            <p class="card-text pt-3 pb-1" i18n>Soy un desarrollador frontend experimentado con habilidades en HTML, CSS y JavaScript. Tengo experiencia en la creación de interfaces responsivas y amigables para el usuario, y una pasión por mantenerme al día con las últimas tecnologías web.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 mx-1 py-2" style="width: 20em;">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="card-title fw-bold" i18n>BACKEND DEVELOPER</span>
                            <p class="card-text pt-3 pb-1" i18n>Soy un desarrollador backend con un sólido dominio de lenguajes de programación como Python, Java y PHP. Me especializo en diseñar e implementar aplicaciones robustas del lado del servidor, manejar almacenamiento de datos e integrar APIs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 mx-1 py-2" style="width: 20em;">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="card-title fw-bold" i18n>DATABASE</span>
                            <p class="card-text pt-3 pb-1" i18n>Tengo amplia experiencia en sistemas de gestión de bases de datos, especificamente las bases de datos SQL. Soy conocedor en modelado de datos, optimización de consultas y administración de bases de datos, asegurando un almacenamiento y recuperación eficiente y seguro de datos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 mx-1 py-2" style="width: 20em;">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="card-title fw-bold" i18n>MACHINE LEARNING</span>
                            <p class="card-text pt-3 pb-1" i18n>Tengo un sólido conocimiento básico en algoritmos y conceptos de aprendizaje automático. Soy competente en Python y en bibliotecas populares de aprendizaje automático como scikit-learn y TensorFlow, y tengo experiencia en preprocesamiento de datos, entrenamiento de modelos y evaluación.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 mx-1 py-2" style="width: 20em;">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="card-title fw-bold" i18n>CLOUD SUPPORT</span>
                            <p class="card-text pt-3 pb-1" i18n>Poseo conocimientos en Docker y servicios en la nube. Puedo contenerizar aplicaciones de manera eficiente, gestionar implementaciones y aprovechar plataformas en la nube como AWS y Azure para infraestructuras escalables y confiables.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>