<section class="py-3 text-white">
    <div class="container">
        <h3 class="text-center" style="color: #08d665;" i18n>
            PORTAFOLIO
        </h3>
        <div class="d-flex flex-wrap col-12 justify-content-around py-2">
            <figure class="figure">
                <a href="https://github.com/luisvsapi?tab=repositories" class="col-4" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/svgs/github.svg" width="300" height="300" class="figure-img img-fluid rounded" alt="Fotografia personal">
                </a>
            </figure>
            <figure class="figure">
                <a href="https://www.linkedin.com/in/luis-villamar-saltos-862867219/" class="col-4" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/svgs/linkedin.svg" width="300" height="300" class="figure-img img-fluid rounded" alt="Fotografia personal">
                </a>
            </figure>
            <figure class="figure">
                <a href="/curriculum" class="col-4" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/svgs/curriculum.svg" width="300" height="300" class="figure-img img-fluid rounded" alt="Fotografia personal">
                </a>
            </figure>
        </div>
    </div>
</section>