<section class="py-3">
    <!-- particles.js container -->
    <div id="particles-js">
        <div id="home-div" class="container text-white">
            <div class="d-flex flex-wrap col-12 justify-content-between">
                <div class="d-flex align-items-center col-6 mx-2 py-2 my-2">
                    <div class="font-weight-bold">
                        <span style="font-size: 1.5em; color: #08d665;" i18n>
                            BIENVENIDO, MI NOMBRE ES:
                        </span>
                        <h1 class="name" i18n>
                            Luis Villamar Saltos, Ingeniero en Ciencias Computacionales
                        </h1>
                        <span i18n>
                            Ingeniero en computación con sólidas bases en teoría y técnica. Habilidoso en desarrollo de software y en busca de nuevos desafíos.
                        </span>
                        <span class="d-none">
                            Computer engineer with strong foundations in theory and technique. Skilled in software development and seeking new challenges.
                        </span>
                    </div>
                </div>
                <div class="d-flex col-5">
                    <figure class="figure">
                        <img src="/assets/imgs/foto.png" class="figure-img img-fluid rounded" alt="Fotografia personal">
                        <figcaption class="figure-caption text-center d-none" i18n>Texto de placeholder</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <canvas class="particles-js-canvas-el">
        </canvas>
    </div>
</section>