<section class="bg-dark py-3">
    <!-- particles.js container -->
    <div id="particles-js">
        <div id="home-div" class="container text-white">
            <div class="d-flex flex-wrap col-12 justify-content-between">
                <div class="d-flex align-items-center col-6 mx-2 py-2 my-2">
                    <div class="font-weight-bold">
                        <h2>
                            Bienvenido a mi página personal, mi nombre es
                        </h2>
                        <h1 class="name">
                            Luis Villamar Saltos, Ingeniero en Ciencias Computacionales
                        </h1>
                        <span>
                            Como ingeniero, he desarrollado unas bases fuertes en computacion tanto en teoria como en tecnica,
                            por lo que poseo habilidades en el desarrollo de software y programacion ademas de siempre buscar nuevos retos
                            para expandir mis conocimientos y habilidades. Si te interesa te invito a chequear mi pagina para conocer
                            mas sobre mi transfondo y mis qualificaciones.
                        </span>
                    </div>
                </div>
                <div class="d-flex col-5">
                    <figure class="figure">
                        <img src="/assets/imgs/foto.jpg" class="figure-img img-fluid rounded" alt="Fotografia personal">
                        <figcaption class="figure-caption text-center d-none">Texto de placeholder</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <canvas class="particles-js-canvas-el">
        </canvas>
    </div>
</section>