<section class="bg-dark py-3 text-white">
    <div class="container">
        <div class="d-flex flex-wrap col-12 justify-content-between">
            <div class="d-flex align-items-center flex-column col-6">
                <span>Mis datos de contacto son:</span>
                <span> Direccion: Mi casa</span>
                <span> telefono: mi telefono</span>
            </div>
            <div class="row col-5 mx-2 py-2 my-2">
                <figure class="figure">
                    <img src="/assets/imgs/foto.jpg" class="figure-img img-fluid rounded" alt="Fotografia personal">
                </figure>
            </div>
        </div>
    </div>
</section>