<header class="d-flex align-items-center text-white font-weight-bold">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <ul class="nav col-12 me-lg-auto mb-2 align-items-center justify-content-end mb-md-0">
                <li>
                    <a href="" class="nav-link px-2 text-secondary" (click)="moverHaciaSeccion($event, 1)">
                        INICIO
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 2)">
                        SOBRE MI
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 3)">
                        CONOCIMIENTOS
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 4)">
                        PORTAFOLIOS
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 5)">
                        CONTACTO
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>