header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    height: 4rem !important;
    background-color: #000;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: 100%;
}

a:hover{
    color: #08d665 !important;
}