<header class="d-flex align-items-center text-white font-weight-bold">
    <div class="container px-0">
        <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
            <div class="dropdown mb-2">
                <button class="btn dropdown-toggle text-white" type="button" id="dropdownLanguage">
                    {{ actualLanguage }}
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let lang of listLanguage; let i = index">
                        <a class="dropdown-item" (click)="cambiarLenguaje(i)">{{lang.language}}</a>
                    </li>
                </ul>
            </div>
            <ul class="nav col-10 mb-2 align-items-center justify-content-end mb-md-0">
                <li>
                    <a href="" class="nav-link px-2 text-secondary" (click)="moverHaciaSeccion($event, 1)" i18n>
                        INICIO
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 2)" i18n>
                        SOBRE MI
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 3)" i18n>
                        CONOCIMIENTOS
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 4)" i18n>
                        PORTAFOLIO
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link px-2 text-white" (click)="moverHaciaSeccion($event, 5)" i18n>
                        CONTACTO
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>