<section class="py-3 text-white">
    <div class="container">
        <div class="d-flex flex-wrap col-12 justify-content-between">
            <div class="row col-5 align-items-center mx-2 py-2 my-2">
                <figure class="figure">
                    <img src="/assets/imgs/about-img.jpg" class="figure-img img-fluid" alt="Fotografia personal">
                </figure>
            </div>
            <div class="d-flex col-sm-12 col-md-6 mx-2 py-2 my-2">
                <div>
                    <h2 i18n>
                        Hola, Soy 
                        <span style="color: #08d665;">Ingeniero en Ciencias Computacionales</span>
                    </h2>
                    <div class="font-aument">
                        <p i18n>
                            Como ingeniero en informática, poseo un sólido conocimiento y habilidades en desarrollo de software y programación. Mi pasión por la tecnología y el aprendizaje me impulsa a buscar constantemente nuevos desafíos y expandir mis capacidades. Con una base sólida tanto en teoría como en técnica, siempre estoy dispuesto a tomar proyectos innovadores y colaborar con otros para crear soluciones de vanguardia.
                        </p>
                        <p class="d-none">
                            As a computer science engineer, I possess strong knowledge and skills in software development and programming. My passion for technology and learning drives me to constantly seek out new challenges and expand my capabilities. With a solid foundation in both theory and technique, I am always eager to take on innovative projects and collaborate with others to create cutting-edge solutions.
                        </p>
                        <span i18n>
                            Participando en proyectos como:
                        </span>
                        <ul>
                            <li i18n>Aplicación de pagos en línea</li>
                            <li i18n>Aplicación de manejo de sucursales corporativa</li>
                            <li i18n>Aplicación de reconocimiento de emociones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>