<header class="d-flex align-items-center py-2 bg-dark text-white font-weight-bold ocultar-print">
    <ul class="nav px-4">
        <li>
            <a i18n href="" class="nav-link px-2 text-white">
                Volver
            </a>
        </li>
    </ul>
</header>
<div class="container px-0">
    <div class="d-flex flex-column bg-dark text-white py-3 px-4 mt-2">
        <h1 i18n> Luis Andres Villamar Saltos</h1>
        <h4 i18n>Ingeniero en Ciencias Computacionales</h4>
        <div class="d-flex justify-content-around">
            <div class="fst-italic">
                <img width="30" height="30" src="/assets/svgs/email.svg">
                <span class="px-2">luisvsapi@gmail.com</span>
            </div>
            <div class="fst-italic">
                <img width="30" height="30" src="/assets/svgs/telephone.svg">
                <span class="px-2">0996752194</span>
            </div>
            <div class="fst-italic">
                <img width="30" height="30" src="/assets/svgs/geo-alt.svg">
                <span class="px-2">Guayaquil - Ecuador</span>
            </div>
        </div>
    </div>
    <div class="d-flex py-2 contenido">
        <div class="px-3 parte-izquierda">
            <div class="seccion">
                <span i18n class="titulo">Perfil</span>
                <p i18n>CS Engineer | Full Stack Web Developer | Machine Learning Enthusiast | Javascript | Python | NodeJS | Tensorflow</p>
                <p i18n>Enfocado en la mejora continua y de manera eficaz. Comprometido con el aprendizaje continuo de forma individual, por motivos de eficacia y eficiencia en los proyectos en los que participo.</p>
            </div>
            <div class="py-3 seccion">
                <span i18n class="titulo">Formación</span>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Ingeniería en Ciencias Computacionales</span>
                        <span>2016 - 2022</span>
                    </div>
                    <span class="sub-titulo">Escuela Superior Politecnica del Litoral, Guayas, Guayaquil</span>
                </div>
            </div>
            <div class="py-3 seccion">
                <span i18n class="titulo">Experiencia</span>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Ingeniero Semi-Senior Backend</span>
                        <span>dic 2022 - abr 2023</span>
                    </div>
                    <span class="sub-titulo">GlobalHitss, Guayas, Guayaquil</span>
                    <p i18n>
                        Proyecto de transferencias bancarias masiva en tecnologías de back como Python, Express, sftp Server, Docker, Redis y Oracle.
                    </p>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Ingeniero FullStack</span>
                        <span>oct 2021 - oct 2022</span>
                    </div>
                    <span class="sub-titulo">Veris, Guayas, Guayaquil</span>
                    <p i18n>
                        Aplicación corporativa para manejo de sucursal nueva, usando tecnologías como Node JS, Angular, Express, Spring. Con interacción de ORM usando la base de datos Oracle.
                    </p>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Ingeniero FullStack</span>
                        <span>ago 2020 - feb 2021</span>
                    </div>
                    <span class="sub-titulo">Devecua, Guayas, Guayaquil</span>
                    <p i18n>
                        Desarrollo y refactorización de aplicación de pagos en línea, con funcionalidades adicionales, en navegador para la unidad educativa ANAI. Herramientas: React, Spring, Javascript, JSX, Node JS, ORM para SQL.
                    </p>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Asistente de Investigación</span>
                        <span>feb 2020 - abr 2020</span>
                    </div>
                    <span class="sub-titulo">ESPOL, Guayas, Guayaquil</span>
                    <p i18n>
                        Proyecto para el Centro de Investigación, Computacionales (CIDIS), sobre el reconocimiento de rostros humanos para robot interactuando con niños de un grupo especifico de edad y características medicas.
                    </p>
                </div>
            </div>
            <div class="py-3 seccion">
                <span i18n class="titulo">Certificados</span>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Convolutional Neural Networks</span>
                        <span>jun 2023</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Neural Networks and Deep Learning</span>
                        <span>oct 2022</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Improving Deep Neural Networks: HyperParameter Tuning, Regularization and Optimization</span>
                        <span>oct 2022</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Structuring Machine Learning Projects</span>
                        <span>oct 2022</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <span i18n class="fw-bold">Mérito a la Investigación - Orientación a la Investigación Científica</span>
                        <span>2021</span>
                    </div>
                </div>
            </div>
            <div class="py-3 seccion-final">
                <span i18n class="titulo">Referencias</span>
                <div class="py-2 px-3">
                    <div class="d-flex flex-column">
                        <span class="fw-bold">Msc. Jorge Ulloa</span>
                        <span class="sub-titulo">GlobalHitss, Guayas, Guayaquil</span>
                        <span>0967611635, jorge.ulloa71@gmail.com</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex flex-column">
                        <span class="fw-bold">Ing. Juan Carlos Carrillo</span>
                        <span class="sub-titulo">Hangaroa, Guayas, Guayaquil</span>
                        <span>0980062280, juan.carrillo@hangaroa.ec</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="d-flex flex-column">
                        <span class="fw-bold">Phd. Dennys Paillacho</span>
                        <span class="sub-titulo">ESPOL, Guayas, Guayaquil</span>
                        <span>0967301947</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3 parte-derecha">
            <div class="seccion">
                <span i18n class="titulo">Datos personales</span>
                <div class="d-flex flex-column pt-2">
                    <span i18n class="sub-titulo">Género</span>
                    <span i18n>Hombre</span>
                </div>
                <div class="d-flex flex-column pt-2">
                    <span i18n class="sub-titulo">Estado Civil</span>
                    <span i18n>Soltero</span>
                </div>
                <div class="d-flex flex-column pt-2">
                    <span class="sub-titulo">LinkedIn</span>
                    <span>https://www.linkedin.com/in/luis-villamar-saltos-862867219/</span>
                </div>
            </div>     
            <div class="d-flex flex-column py-3 seccion">
                <span i18n class="titulo mb-2">Competencias</span>
                <span class="col-12">
                    Javascript
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    Python
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    Java
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    Express, Spring
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    Docker, AWS
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    MySQL, Oracle
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    Angular, React, Html, CSS
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="col-12">
                    Tensorflow, Sklearn
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="d-flex flex-column py-3 seccion saltar-pagina">
                <span i18n class="titulo mb-2">Idiomas</span>
                <span i18n class="col-12">
                    Español
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span i18n class="col-12">
                    Inglés
                </span>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="py-3 seccion-final">
                <span i18n class="titulo">Pasatiempos e intereses</span>
                <ul>
                    <li i18n>
                        Machine Learning con aprendizaje supervisado.
                    </li>
                    <li i18n>
                        Data Science con modelos de regresión.
                    </li>
                </ul>
            </div>  
        </div>
    </div>
</div>